/*------------------------------------*\
    $CUSTOM-POST
\*------------------------------------*/
/**
 * Custom molecule for custom post styles
 */


/* 1.
   * /url-slug-goes-here or template name goes here
  /*----------------------------------------------- */

.post__molecules-and-atoms {
    color: $color__text--reverse;
    padding: ($base-spacing-unit*2) 0 0 0;
    padding: calc-rem($base-spacing-unit * 2) 0 0 0;
    background-color: $color__background--black;
    border-top: 5px solid lighten($color__background--black, 10);
}

    .post__container--molecules-and-atoms {
        width: 85%;
        margin: 0 auto;
        background-color: darken($color__background--black, 20);
    }


/* 2.
   * /url-slug-goes-here or template name goes here
  /*------------------------------------ */

.post__oh-you {
    @extend .cf;
    background-image: url(http://cl.ly/image/0x2H0h3x0K2D/oh-you.jpg);
}

    .post__container--oh-you {
        width: 25%;
        float: left;
        background-color: darken($color__background--white, 20);
    }