/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/**
 * Calculate rems. $target = pixel size. $context = base pixel size
 */

@function calc-rem($target, $context: $base-font-size) {
     @return ($target / $context) * 1rem;
}


/**
 * Output vendor properties
 */

@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
}
