/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

img{
    max-width:100%;
    height:auto;
}

/**
 * Image placement variations.
 */
.img--right{
    float:right;
    margin-bottom:$base-spacing-unit;
    margin-left:$base-spacing-unit;
}
.img--left{
    float:left;
    margin-right:$base-spacing-unit;
    margin-bottom:$base-spacing-unit;
}
.img--center{
    display:block;
    margin-right:auto;
    margin-bottom:$base-spacing-unit;
    margin-left:auto;
}

/**
 * Images in `figure` elements.
 */
figure > img{
    display:block;
}