/*------------------------------------*\
    $MICRO
\*------------------------------------*/
/**
* Micro typographic styles
*
**/

em, i, cite, figcaption {

}

samp {
}

strong,
b {
	@extend %font__text--bold;
}

abbr, span {
}

dfn {
}

mark {
}

dl {
    dt {
    	@extend %font__text--bold;
    }

    dd {
    	margin-left:0;
    	margin-bottom: $base-spacing-unit;
    }

    dl {
        padding-left: $base-spacing-unit;
        padding-left: calc-rem($base-spacing-unit);
    }
}

sub {
}

sup {
}

kbd {

}

q:before {content: '“'; content: open-quote;}
q:after {content: '”'; content: close-quote;}

hr {
    border: none;
    border-bottom: 1px dotted $color__border--standard;
    margin-bottom: $base-spacing-unit;


    &:after {

    }
}

pre {
    @extend %font__text--regular;
    font-style:italic;

}