/*------------------------------------*\
    $FLAG
\*------------------------------------*/
/**
 * Inspired by (read: mostly stolen from) – http://csswizardry.com/2013/05/the-flag-object/
 */
.flag {
    display: table;
    width: 100%;
}

.flag__image,
.flag__body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
        vertical-align: top;
    }

    .flag--bottom & {
        vertical-align: bottom;
    }
}

.flag__image {
    padding-right: $half-spacing-unit;
    padding-right: calc-rem($half-spacing-unit);

    img {
        display: block;
        max-width: none;
    }

    .flag--rev & {
        padding-right: 0;
        padding-left: $half-spacing-unit;
        padding-left: calc-rem($half-spacing-unit);
    }
}

.flag__body {
    width: 100%;
}
