/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them:
 *
 *  <a href="URL!" class="icon">
 *      <span class="icon__image ss ss-inbox">inbox</span>
 *         <div class="icon__text">
 *             Get regular updates from the blog
 *         </div>
 *  </a>
 */

.icon {
    display:inline;
    vertical-align: middle;
    line-height: 0;
}
