/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them:
 *
 *  <a href="URL!" class="link--icon">
 *      <span class="icon ss ss-inbox">inbox</span>
 *      Get regular updates from the blog
 *  </a>
 */

.icon {
    @extend %font__icon--gizmo;
    display:inline;
    vertical-align: middle;
    line-height: 0;
    padding-right: $quarter-spacing-unit - 5px;
    padding-right: calc-rem($quarter-spacing-unit - 5px);
}