/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 *
 */
.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }

        &:before {
            content:"";
            display:none;
        }
    }
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode
 *
 */
.nav--stacked{

    > li{
        display:list-item;

        > a{
            display:block;
        }

        &:before {
            content:"";
        }
    }
}


/**
 * Category links
 *
 */
.nav--category {
    list-style-type: none;
    margin-bottom: 0;
}

    .nav--category__item {
        @extend %font__display--normal;
        color: darken($color__meta,10);
        margin-right: $base-spacing-unit;
        margin-right: calc-rem($base-spacing-unit);
        margin-bottom: $half-spacing-unit;
        margin-bottom: calc-rem($half-spacing-unit);
        border: 1px solid transparent;

        &:hover,
        &:focus {
            color: $color__orange--secondary;
            text-decoration: none;
        }
    }

        .nav--category__item--cur {
            color: $color__orange--secondary;
        }

/**
 * Give nav links a big, blocky hit area.
 *
 */
.nav--block{
    line-height:1;
    /**
     * Remove whitespace caused by `inline-block`.
     */
    letter-spacing:-0.31em;
    word-spacing:-0.43em;
    white-space:nowrap;

    > li{
        letter-spacing:normal;
        word-spacing:normal;

        > a{
            padding:$half-spacing-unit;
        }
    }
}

