/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 *
 */
.nav{
    @extend .cf;
    list-style:none;
    margin-left:0;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }

        &:before {
            content:"";
            display:none;
        }
    }
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode
 *
 */
.nav--stacked{

    > li{
        display:list-item;

        > a{
            display:block;
        }

        &:before {
            content:"";
        }
    }
}


/**
 * Give nav links a big, blocky hit area.
 *
 */
.nav--block{
    line-height:1;
    /**
     * Remove whitespace caused by `inline-block`.
     */
    letter-spacing:-0.31em;
    word-spacing:-0.43em;
    white-space:nowrap;

    > li{
        letter-spacing:normal;
        word-spacing:normal;

        > a{
            padding:$half-spacing-unit;
        }
    }
}

