/*------------------------------------*\
    $PRIMARY-NAV
\*------------------------------------*/
/**
 * Custom molecule for the primary navigation in the header
 */


.primary-nav {
	background-color: $color__background--black;
	width: 83%;
	float: right;
}