/*------------------------------------*\
    $BLOCKQUOTES
\*------------------------------------*/

blockquote {
    margin-left:0;
    position:relative;
    font-style: italic;
    color: lighten($base-color, 10);

    &:before {
        @extend %font__text--bold;
        content: "\201C";
        position: absolute;
        font-size: 30px;
        font-size: calc-rem(30px);
        color: $color__orange--primary;
        left: - ($base-spacing-unit);
        left: - calc-rem($base-spacing-unit);
        top: - $half-spacing-unit;
        top: - calc-rem($half-spacing-unit);
    }
}