/*------------------------------------*\
    $SMALLPRINT
\*------------------------------------*/
/**
 * A series of classes for setting tiny type; for use in smallprint etc.
 */
.smallprint,
.milli{
    font-size:$micro-size;
    font-size:calc-rem($micro-size);
}