/*------------------------------------*\
    $BASE SPACING
\*------------------------------------*/
/**
 * Based on: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Elements
 */
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,form,
iframe,

/**
 * Objects and abstractions
 */
.media,
.island,
.islet {
    margin-bottom: $base-spacing-unit;
    margin-bottom: calc-rem($base-spacing-unit);

    .islet &{
        margin-bottom: $base-spacing-unit / 2;
        margin-bottom: calc-rem($base-spacing-unit / 2);
    }
}

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
    margin-bottom: $base-spacing-unit - 2px;
    margin-bottom: calc-rem($base-spacing-unit - 2px);
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,ol,dd {
    margin-left: (2 * $base-spacing-unit);
    margin-left: calc-rem(2 * $base-spacing-unit);
}