/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$color__white: #FFFFFF;
$color__black: #000000;

$color__background--black: #333333;
$color__background--dark: #555555;
$color__background--grey: #F5F5F5;
$color__background--white: #FDFDFD;

$color__orange--primary: #FF8039;
$color__orange--secondary:#FD6D16;
$color__orange--active: #F24125;
$color__orange--dark: #DB6000;

$color__grey--primary: #DADADA;
$color__grey--secondary: #C0C0C0;
$color__grey--tertary: #8E8E8E;

$color__purple: #987298;

$color__green: #6c9671;
