/*------------------------------------*\
    $FONT-STACK
\*------------------------------------*/


/**
 * Font weights
 */
    $lighter:300;
    $normal:400;
    $semibold:600;
    $bold:700;


/**
 * Default text font-family and font weights
 */
%font__text--regular {
    font-family: "Poynter Serif RE", Georgia, serif;
    font-style: normal;
    font-weight: normal;
}

%font__text--italic {
    font-family: "Poynter Serif RE", Georgia, serif;
    font-style: italic;
    font-weight: normal;
}

%font__text--bold {
    font-family: "Poynter Serif RE", Georgia, serif;
    font-style: normal;
    font-weight: bold;
}

%font__display--normal {
    font-family: "Griffith Gothic", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

%font__display--black {
    font-family: "Griffith Gothic Black", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;

    .no-fontface & {
        font-weight: bold;
    }
}
